# 認証
BASIC_AUTH_USERNAME=test_user
BASIC_AUTH_PASSWORD=test_password

# API設定
NEXT_PUBLIC_API_BASEPATH=http://localhost:8000
NEXT_PUBLIC_ADMIN_API_KEY=test-api-key

# LocalLLM設定
NEXT_PUBLIC_LOCAL_LLM_ADDRESS=ollama:11434
